

h1{
    font-family: 'Karla', sans-serif;
    word-break: break-word;
}

.about-greet{
    padding: 40px 0 0px 0;
    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.about-description{
    padding: 1px 0 20px 0;

    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.about-row{
    padding: 1px 0 20px 0;
    border:none;
}