
.container{
    margin-top: 20px;
}

.allsongcards-container{
        margin-bottom: 160px;
        z-index: 1;
    
}

.songcard-container{
    margin-top: 0;
}

.card{height: 10rem;
    border-bottom: 1px thin  black;
    border-top: 1px thin black;
    border-left:   none;
    border-right: none;
    border-radius: 0;
}

.card-body{
    width: 90%;
    position: relative;
    bottom:125px;
    left:160px;
}

.addplaylist-button{
    background-color: rgb(92, 82, 102);
    border: none;
    margin-top:3px;
}

.card:hover .addplaylist-button{
    opacity: 1;
    background-color: rgb(69, 9, 69);
    
}

.search-button{
    background-color: rgb(69, 9, 69);
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 32px;
}

.search-button:hover{
    background-color: rgb(92, 82, 102);
    color:white;
}

.card-img{
    transition: .5s ease;
  backface-visibility: hidden;
  width: 8rem;
   position: relative;
   top:15px;
   left:10px;
}

.card:hover .card-img{
    opacity: 0.3;
}

.card:hover .card--button__play{
    opacity: 1;
}

button{ /* para el boton de play con la imagen*/
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.card--button__play{
  transition: .5s ease;
  opacity: .5;
  position: absolute;
  top: 100px;
  left: 40px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.img--button__play{width: 50px;}

.artist-link{
    color: rgb(69, 9, 69);
}

.artist-link:hover{
    color: rgb(69, 9, 69);
}

.row{
    margin: 0 10px 0 10px;
}