.search-button{
    background-color: rgb(69, 9, 69);
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 32px;
}

.search-button:hover{
    background-color: rgb(92, 82, 102);
    color:white;
    
}

/*CONTENEDORES*/

.container{ /*incluyendo el boton de keep searching*/
    margin-top: 40px;
}

.songcard-container{ /*separacion entre cada list item*/
    margin-bottom: 0;
    list-style: none; 
   
    padding: auto;
}

.card{ /*contenedor de los list items */
    height: 6rem;
    padding-top: 50px;
    padding-bottom: 50px;    
    display: flex;
    flex-direction: row;  
    align-items: center;
    border-bottom: 1px thin  black;
    border-top: 1px thin black;
    border-left:   none;
    border-right: none;
    border-radius: 0;
}

.songbutton-container{
    width: 5rem;
    display: flex;
    align-items: center;
   /* border: 1px solid;*/
}

.text-container{
    width: 50%;
    padding: 0;
    word-break: break-word;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 30px;
}

.addbutton-container{
    width: 50%;
}
/*IMAGENES Y BOTONES*/

.song-img{
    transition: .5s ease;
    backface-visibility: hidden;
    width: 5rem;
    height: 5rem;
    display: flex;
  
}

button{ /* para el boton de play con la imagen y el del footer apparently*/
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.button__play{ /*el boton de play en la cancion de la lista*/
    border: none;
    margin: 0;
    padding: 0;
  
    transition: .5s ease;
  opacity: .5;
  display: flex;
  position: relative;
  right:60px;
}
.img--button__play{ /*la img del boton de play en la cancion de la lista*/
    width: 40px;
    
}

.addplaylist-button{
    background-color: rgb(92, 82, 102);
    border-radius: 5px;
    white-space:wrap;
    color:white;  
    padding: 8px;
    display: flex; 
    align-items: center;
    justify-content: center;
}


/*TEXTOS DE LA CARD*/

.card-title{
    font-size: medium;
    font-weight: bold;
    margin:0;
}

.cardsub-title{
    font-size: small;
}

/*.artist-link{   color: rgb(69, 9, 69);}
.artist-link:hover{   color: rgb(69, 9, 69);}*/


/*HOVER EFFECT*/

.card:hover{
    background-color: #f1f0f0;
    opacity: 2;
}

.card:hover .addplaylist-button{
    opacity: 1;
    background-color: rgb(69, 9, 69);
    
}

.card:hover .song-img{
    opacity: 0.3;
}

.card:hover .button__play{
    opacity: 1;
}


@media (max-width:767px){
 .text-container{
    color:blue;
    padding-right: 40px;
  }

  .card-title{       
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

}


@media (max-width:673px){
   
   /*CONTENEDORES*/
    
    .text-container{
        color: red;
      padding-right: 30px;
    }

    .addbutton-container{
        position: relative;
        left: 20px;
         width: 10%;
         padding: 2px;
     } 
   
    /*TEXTOS*/
    .card-title{       
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

      .cardalbum-title{
        display: none;
    }
/*
    .addplaylist-button{
        margin-right: 15px;
        font-size: 12px;
        right:10px;
    }

    .card-title{
        font-size: medium;
        font-weight: bold;
        margin:0;
         
    }

  */
}