body{
    background-color:white;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Karla', sans-serif;
    color:black;
    height: 90vh;
    margin:0;
    padding: 0;
}

.container{
    display: flex;   
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 60%;
    /* height: 60vh;  */
}   

.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
     justify-content: center;  
    
}

.roww{
    margin-bottom: 50px;
}

.home-row{
    margin-top: 150px;
}

 .col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    width: 100%;
    margin:0;
    gap:20px;
} 
.col-nosongs{
    position: relative;
    top:100%;
}


h1{ 
    word-break: break-word;
}

.home-greet, .home-description{
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}


.form-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    /* position: relative; */
    
}

.form-container button{
      position: relative;  
      right: 40px;  
    
    display: flex;
    justify-self: flex-start;
    align-items: center;
    /* border: solid red 1px; */
    
}

.song-form{
    min-width: 200px; 
    width: 600px;
    height: 55px;
    border: 1px solid #BD0700; 

    border-radius: 30px;
    background: url(../images/search-icon.svg) no-repeat   1px ;
    background-position: 3%;
    padding-left:70px;
    color:black;
    font-weight: bold;
    font-size: 20px;   
}

.song-form::placeholder { 
    color: #700015 ;
    opacity: 0.8;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1.5px;
} 


.song-form:hover,
.song-form:focus {      
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    /* color:#700015;
    opacity: 1; */
    outline-color: none !important;
    outline: none !important;
    transition: none !important;
}

.text-danger{
    color:red !important;
    opacity: 1;
    font-size: 17px;
    font-weight: bold;
}
