body{
  /*  background-color:rgb(255, 255, 255);*/
    font-family: 'Inter', sans-serif;
    position: relative;

    margin-bottom: 180px;

    background-color: black;
    color:white;
}

h1{
    font-family: 'Karla', sans-serif;
}

.home-greet{
    padding: 40px 0 40px 0;
}
.home-description{
    padding: 1px 0 20px 0;
}
