body{
    background-color:rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
    position: relative;
    margin-bottom: 180px;
}

h1{
    font-family: 'Karla', sans-serif;
}
.search-button{
    background-color: rgb(69, 9, 69);
    border: none;
    color:white;
}

.search-button:hover{
    
    background-color: rgb(92, 82, 102);
    color:white;
}
.home-greet{
    padding: 40px 0 40px 0;
}
.home-description{
    padding: 1px 0 20px 0;
}
