.container{
    padding: 0;
}

.songcard-container{
    border: 1px solid;
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin:0;
    padding: 0;
}
.keepsearch-button{
    background-color: rgb(69, 9, 69);
    color:white; 
   
    opacity:1;
}

.keepsearch-button:hover{
    background-color: rgb(92, 82, 102);
    color:white;   
    border: none; 
}

.songimg-container{
    border: 1px solid;
    width: 50%;
    max-height: 200px;
  
}

.song-result-img{
    width: 100%;
    object-fit: cover;
    object-position: bottom;  
}
.songtext-container{
   border: 1px solid blue;
    width: 50%;
}