.navbar{
 
}

.bg-color{
    background-color: rgb(183, 163, 203);
}

.nav-link{
    color:white;
    margin-right:15px;
}

.navbar-brand{
    color:black;
    font-size: 30px;
    font-family: 'Karla', sans-serif;
}


.img-user{
    width:30px;
    height:30px;
    margin: 0 5px 0 5px;
}

.navbar-brand:hover, .navbar-brand:focus {
  background-color: transparent;
  color: black;
}



/*@media (max-width:667px){  .navbar{background-color: red;} }*/
    
@media (max-width:379px) and (min-width:267px){
    .navbar{
        background-color:red;
    }
    
    .brand-icon{
        width:40px;
    }
    .img-user{
        width:25px;
        height:25px;
        margin: 0 5px 0 5px;
    }   

    .navbar-brand{
        font-size: 20px;
    }

}
 

@media (max-width:266px){
    .navbar{
        background-color:yellow;
        width: 100%;

    }
    .brand-icon{
        width:40px;
    }

    .navbar-brand{
       /* font-size: 15px;*/
        display: none;
    }
   
 
}
/*
@media (max-width:207px){
    .navbar{
        background-color:yellow;
        width: 207px;

    } 
 }*/