.bg-color{
    background-color: rgb(183, 163, 203);
}

.nav-link{
    color:white;
}

.navbar-brand{
    color:white;
    font-size: 30px;
    font-family: 'Karla', sans-serif;
}

.img-user{
    width:30px;
    height:30px;
    margin: 0 5px 0 5px;
}
.nav-link{
    margin-right:15px;
}