.navbar{
   
   
}

.bg-color{
    background-color: rgb(183, 163, 203);
}

.nav-link{
    color:white;
    margin-right:15px;
}

.navbar-brand{
    color:black;
    font-size: 30px;
    font-family: 'Karla', sans-serif;
}


.img-user{
    width:30px;
    height:30px;
    margin: 0 5px 0 5px;
}

.navbar-brand:hover, .navbar-brand:focus {
  background-color: transparent;
  color: black;
}



/*@media (max-width:667px){  .navbar{background-color: red;} }*/
    
@media (max-width:379px){
    .navbar{
        background-color:red;
    }

    .navbar-toggler{
        background-color: white;
    }

    .brand-icon{
        width:40px;
    }
    .img-user{
        width:25px;
        height:25px;
        margin: 0 5px 0 5px;
    }   

    .navbar-brand{
        font-size: 25px;
    }

}
 