body{background: white;}

.login-container{
    height:70vh; 
    overflow:hidden; 
    /*border: 2px solid red*/
}

.login-group{
    overflow:hidden; 
    width:35vw; 
    height:50vh; 
  /*  border: 1px solid blue;*/
}

h1{
    font-family: 'Karla', sans-serif;
}
/*
.login-button{
    background-color: rgb(69, 9, 69);
    border: none;
    color:white;
}

.login-button:hover{
    background-color: rgb(69, 9, 69);
    color:white;
}*/

.brand-container{
    padding:8px 12px;
    
}
.navbar-brand{
    color:black;
    
}
.navbar-brand:hover{
    color:black;
}
