body{background: white;
margin:10px;
}

.login-container{
    width:100%; 
    height:60vh; 
    overflow:hidden; 
  /*  border: 2px solid red*/
}

.login-group-titles{
    overflow:hidden; 
    width:50%; 
    height:60vh; 

   /* border: 1px solid green;*/
}

.login-group-form{
    overflow:hidden; 
   margin: 0;
    height:40vh; 

  /*  border: 1px solid blue;*/
}

h1, h2{
    font-family: 'Karla', sans-serif;
}
.error{
    color:red;
    margin-top:5px ;
}

.brand-container{
    padding:8px 12px;
    
}
.navbar-brand{
    color:#700400;
    color:#BD0700;

    
}
.navbar-brand:hover{
    color:#700400;
    color:#BD0700;

}

.btn, .btn:hover{
    background-color: #BD0700;
    border:none;
    color:white;
    font-size:17px;;
}

.btn:hover{
    background-color: #700400;
    background-color: #BD0700;
}
.form-control{
    display: flex;
    
    margin-bottom:15px;
}

.form-control:focus{
box-shadow:  #BD0700 !important;
border-color:  #700400;

 /* border-color: #FF0000; */
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(189, 7, 0, 0.6);

}

.login-form{ 
    
    height: 50px;
    border: 1px solid #BD0700; 
    color:black;
    font-weight: bold;
    font-size: 20px;   
}

.login-form::placeholder { 
    color: #700015 ;
    opacity: 0.8;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1.5px;
} 

.text-danger{
    color:red !important;
    opacity: 1;
    font-size: 17px;
    font-weight: bold;
}