
footer{
    /* background-color: rgb(69, 9, 69); */
    background-color: #BD0700;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:2px ;
    font-family: 'Karla', sans-serif;
    font-size: small;
    
   
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    text-align: center;      
}

.row-footer{
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
   /* border: 1px solid red;*/
}

p{margin: 0; padding: 0;}
a{
    color:white
}