
.songcard-container{
   /* border: 10px solid violet;   */
  display:flex;
  width: 100%; 
}
.yousearched{
  display: flex;
  flex-direction: column;
   /* border: 1px solid blue;  */
  width: 100%;
}

.img-container{
       /* border: 5px solid red;    */
    
    display: flex;
    flex-direction: row;
    align-items: center;

}

.songimg{
  width: 20%;
  display: flex;
  min-width: 80px;
  min-height: 80px;
  /* height: 100%; */
}

.songtext-container{
     /* border: 5px solid green;   */
  display: flex;
     flex-direction: column; 
    justify-content: space-around;
     padding-left: 20px; 
   
     white-space: nowrap;
     overflow:hidden;
     text-overflow: ellipsis;
     display: flex;
     align-self: flex-start;
}

.songaudio-container {
   /* border: 5px solid blue;   */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.titlesong{
  font-weight: bold;
}
.title {
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  display: flex;
  align-self: flex-start;
}


@media (max-height:900px){
   /*
  .songimg-container{
     
        width: 50%;
        max-height: 100px;
       
    }
    .song-result-img{
        width: 100%;
     
        object-fit: cover;
        object-position:center; 
      
    }
    
    */
}