
.song-row{
    /* border: 5px solid red;  */
    
    background-color: #BD0700;
    color:white;

    display: flex;
    flex-direction: row;    
    align-items:center;
    /* justify-content: space-around;  */
     margin: 5px 0 5px 0; 
     height: 100px;
    /* padding: 15px 0 15px 0; */
    border-radius: 30px;
}

.song-row .row{
    width: 60%;
    
    /* border:3px green solid;   */
}


.titles-col{
     /* border: solid 1px blue;   */
    display: flex;
    align-self: center;
    justify-self: flex-end;
}

/*TEXTOS DE LA CARD*/

.card-title{
    font-weight: bold;
    width: 300px; 

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

     /* border: solid 5px blue;  */
}
.subtitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

/*IMAGENES Y BOTONES*/

.song-img{
    /* transition: .5s ease; */
    backface-visibility: hidden;
    width: 5rem;
    height: 5rem;
    display: flex;
  
}

button{ /* para el boton de play con la imagen y el del footer apparently*/
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
}

.audioplayerDIV{
  /*  border:1px solid red;*/
    display: flex;
    align-items:center;
    justify-content: center;
    /* position: relative; */

    /* flex-grow:1; */
  
}

.playPauseContainerList{
    /* border: 1px solid blue; */
display: flex;
justify-content: center;
text-align: center;
}

.playPauseContainer{
     /* border: 1px solid blue;  */
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}

.playPauseSongCard{
    border-radius: 50%;
    /*  border: 1px solid blue;*/
      background: none;
      color:#700400;
      font-size: 60px;
      
}

.playPause{
    border-radius: 50%;
  /*  border: 1px solid blue;*/
    background: none;
    color: white;
    font-size: 60px;
    position: relative;
    display: flex;
}


/*HOVER EFFECT*/
.song-row:hover{
    background-color: #BD0700;
    background-color:#700400;
    /* opacity: 2; */
    color:white;
}

.song-row:hover .playPause{
   /* background-color: #f1f0f0;*/
    color: white;
}

/*MEDIA QUERYS*/

@media(max-width:574px) { /*SMALL*/
     
    .song-row{
        
        border: black solid 1px;
    }

    .cardalbum-title{
        display: none;
    }

    .titles-col, .card-title{

        width: 100%;
        display: flex;
        align-items: center;

        white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }

}


@media (max-width:457px){ /*movil*/
    .text-container{
        position: relative;
      display: flex;
      
    }

    .song-img{
        width: 50px;
        height: 50px;
    }

    .addplaylist-button{
        height: 40px;
    }
    .addplaylist-button span{
        font-size: small;
     } 
   
     .card-title{      
        
        font-size: small; 
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

 }

 @media (max-width: 286px){

.card-title{
    width: 100%; 
}
    
 }